

/* Start main rules */
html {height: 100%;}

body {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-size: 16px;
    font-family: Arial, FontAwesome;
    height: 100%;
    margin: 0;
    overflow: auto;
    background-attachment: fixed;
}

a, a:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #06516b;
    border-color: #06516b;
}

.btn-primary:hover {
    background-color: #23282e;
    border-color: #23282e;
}

.appName {
    text-align: center;
    font-weight: bold;
    color: #285f74;
}

.appName span {color: #FFF;}

.pageHead {
    font-weight: bold;
    margin-top: 40px;
    color: #285f74;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #285f74;
    border-bottom: 1px solid #285f74;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #285f74;
}

.table-hover > tbody > tr:hover {
  background-color: #70f1ff;
}

.full-width {width: 100%;}

#PopUp {
    position: absolute;
    z-index:3000; 
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#PopUpBox {
    position:absolute; 
    z-index:5000;
    background-color: #EEE;
    width: 400px;
    height: auto;
    margin: 300px auto;
    left: 24%;
    display: none;
}

#popUpContent {
    margin: 25px auto;
}

#popUpMsg {
    font-size: 14px;
}

#popUpContent > a {
    margin-top: 25px;
}
/* End main rules*/

#login {
   margin: 7% auto; 
   width: 400px;
}

#login button {
    display: inline-block;
    margin: auto;
    left: 0;
    width: 100%;
 }

 
/* Dashboard Starts */

.appNav {margin: 0;}

.logout {
    position: absolute;
    top: 20px;
    width:100%;
    text-align: center;
}

.dashboard-group {
    margin: 15% auto;
}
.dashboard-btn {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: rgba(6, 81, 107, 0.3);
    text-align: center;
    margin: 10px;
    line-height: 150px;
    color: #06516b;
    border: 3px solid #06516b;
}

.dashboard-btn span {
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
}
/* Dashboard Ends */

/* Contacts Page Starts */

.membersNav {
    border-bottom: 1px solid #219cc6;
}

.membersNav .btn {
    display: inline-block;
    padding: 5px;
    margin: 30px 10px;
    width: 150px;
    font-size: 1.3em;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
}

@media (max-width: 767px) {
    .appNav {margin-right: -15px; margin-left: -15px;}
    .membersNav .btn {
        display: inline-block;
        padding: 5px;
        margin: 10px;
        width: 100px;
        font-size: 1em;
        -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
        -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.54);
    }
    .membersNav {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

.asterisk {
    position: absolute;
    top: 7px;
    right: 28px;
    color: #cf0000;
    font-size: 1.5em;
}

.hideElement {
    display: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.contact-details {
    color: #FFF;
}

.contactData {padding-top: 30px;}

.clickableRow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
}

.clickableRow > .form-check-input{
    pointer-events: none;
    cursor: default;
}
/* Contacts Page Ends */

/* Profile Page Starts */

.passCheckG {
    position: absolute;
    top: 10px;
    right: -5px;
    color: #008103;
    display: none;
}

.passCheckR {
    position: absolute;
    top: 10px;
    right: -5px;
    color: #810000;
    display: none;
}

/* Profile Page Ends */

.footer {
    clear: both;
    padding: 30px;
    text-align: center;
    color: #23282e;
}
